// SevenSegment connection
NET "SSD[7]" LOC = P13  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[6]" LOC = P15  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[5]" LOC = P16  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[4]" LOC = P18  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[3]" LOC = P19  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[2]" LOC = P20  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[1]" LOC = P21  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSD[0]" LOC = P24  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

// Enable line for SevenSegment Display array
NET "DigCh[2]" LOC = P10  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "DigCh[1]" LOC = P11  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "DigCh[0]" LOC = P12  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

