//IO datalink
NET "datalink[0]" LOC = P111 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "datalink[1]" LOC = P112 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "datalink[2]" LOC = P113 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "datalink[3]" LOC = P114 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
