//PUSH-BUTTONS
NET "push_btn" LOC = P29 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

//IO datalink
NET "datalink1" LOC = P111 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "datalink2" LOC = P112 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;