//XTAL CLOCK
NET "clk" LOC = P124 | IOSTANDARD = LVCMOS33 | PERIOD = 25MHz;

//PUSH-BUTTONS
NET "push_btn[0]" LOC = P25 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "push_btn[1]" LOC = P27 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "push_btn[2]" LOC = P28 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "push_btn[3]" LOC = P29 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;


//DP SWITCH CONNECTIONS 
NET "switch[7]" LOC = P30 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[6]" LOC = P31 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[5]" LOC = P32 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[4]" LOC = P33 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[3]" LOC = P35 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[2]" LOC = P42 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[1]" LOC = P46 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[0]" LOC = P53 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

// RGB led 3-pin interface
//NET "RedLed"     LOC = P51  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
//NET "GreenLed"  LOC = P54  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
//NET "BlueLed"     LOC = P55  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

// buzzer
NET "buzzer"  LOC = P88 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;