//XTAL CLOCK
NET "clk" LOC = P124 | IOSTANDARD = LVCMOS33 | PERIOD = 25MHz;

//LED ARRAY CONNECTIONS
NET "led[7]" LOC = P57 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[6]" LOC = P58 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[5]" LOC = P59 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[4]" LOC = P60 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[3]" LOC = P63 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[2]" LOC = P64 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[1]" LOC = P67 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[0]" LOC = P68 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

//PUSH-BUTTONS
NET "push_btn" LOC = P29 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;


//DP SWITCH CONNECTIONS 
NET "switch[7]" LOC = P30 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[6]" LOC = P31 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[5]" LOC = P32 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[4]" LOC = P33 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[3]" LOC = P35 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[2]" LOC = P42 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[1]" LOC = P46 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[0]" LOC = P53 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

// SevenSegment connection
NET "SSDArray[0]" LOC = P13  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[1]" LOC = P15  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[2]" LOC = P16  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[3]" LOC = P18  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[4]" LOC = P19  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[5]" LOC = P20  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[6]" LOC = P21  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "SSDArray[7]" LOC = P24  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

// Enable line for SevenSegment Display array
NET "DigCh[2]" LOC = P10  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "DigCh[1]" LOC = P11  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "DigCh[0]" LOC = P12  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

// RGB led 3-pin interface
//NET "RedLed"     LOC = P51  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
//NET "GreenLed"  LOC = P54  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
//NET "BlueLed"     LOC = P55  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;