//XTAL CLOCK
NET "clk" LOC = P124 | IOSTANDARD = LVCMOS33 | PERIOD = 25MHz;

//LED ARRAY CONNECTIONS
NET "led[7]" LOC = P57 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[6]" LOC = P58 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[5]" LOC = P59 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[4]" LOC = P60 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[3]" LOC = P63 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[2]" LOC = P64 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[1]" LOC = P67 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "led[0]" LOC = P68 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

//PUSH-BUTTONS
NET "push_btn" LOC = P29 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

//DP SWITCH CONNECTIONS 
NET "switch[7]" LOC = P30 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[6]" LOC = P31 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[5]" LOC = P32 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[4]" LOC = P33 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[3]" LOC = P35 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[2]" LOC = P42 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[1]" LOC = P46 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "switch[0]" LOC = P53 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

//IO datalink
NET "datalink1" LOC = P111 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "datalink2" LOC = P112 | PULLUP | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
